<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/add_service_styles.css">
  <link rel="stylesheet" type="text/css" href="/styles/add_transaction_style.css">
</head>
<body>

<!-- Top Bar -->
<%- include('partials/topbar'); %>

<div class="container">
    <div class="alert alert-success alert-dismissible fade show" id="successAlert" role="alert" style="display: none;">
      Transaction saved to Firebase!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="alert alert-danger alert-dismissible fade show" id="errorAlert" role="alert" style="display: none;">
      The transaction have been added! 
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  <h2 class="text-center">Add Transaction</h2>
  <form id="transactionForm">
    <div class="form-group">
      <label for="receiptNumber"><i class="fas fa-receipt"></i> Receipt Number:</label>
      <input type="number" class="form-control" id="receiptNumber" name="receiptNumber" required>
    </div>
    <div class="form-group">
      <label for="transactionValue"><i class="fas fa-dollar-sign"></i> Transaction Value:</label>
      <input type="number" step="0.01" class="form-control" id="transactionValue" name="transactionValue" required>
    </div>
    <div class="form-group">
      <label for="transactionStatus"><i class="fas fa-info-circle"></i> Transaction Status:</label>
      <select class="form-control" id="transactionStatus" name="transactionStatus" required>
        <option value="claimed">Claimed</option>
        <option value="unclaimed">Unclaimed</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary submit-button"><i class="fas fa-save"></i> Submit</button>
  </form>
</div>

<script>
 document.getElementById('transactionForm').addEventListener('submit', function(event) {
  event.preventDefault();

  const formData = new FormData(this);

  // Convert FormData to JSON
  const jsonObject = {};
  formData.forEach((value, key) => {
    if (key === 'receiptNumber' || key === 'transactionValue') {
      jsonObject[key] = parseFloat(value); // Convert to number
    } else {
      jsonObject[key] = value;
    }
  });
  const jsonData = JSON.stringify(jsonObject);

  fetch('/transactions', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: jsonData
  })
  .then(response => {
    if (response.ok) {
      document.getElementById('successAlert').style.display = 'block';
      setTimeout(() => {
        window.location.href = '/transactions';
      }, 2000);
    } else {
      return response.json().then(errorData => {
        throw new Error(errorData.message);
      });
    }
  })
  .catch(error => {
    console.error(error);
    const errorAlert = document.getElementById('errorAlert');
    errorAlert.innerText = error.message;
    errorAlert.style.display = 'block';
  });
});
</script>

<!-- Include Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</body>
</html>
