<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/styles/add_service_styles.css">
</head>
<body>

<div class="container">
  <h2>Add Transaction</h2>
  <form id="transactionForm" enctype="multipart/form-data">
    <div class="form-group">
        <label for="receiptID">Receipt ID :</label>
        <input type="text" id="receiptID" name="receiptID" required>
    </div>
    <div class="form-group">
        <label for="transactionValue">Transaction Value:</label>
        <input type="text" id="transactionValue" name="transactionValue" required>
    </div>
    <button type="submit" class="save-button">Save</button>
</form>

<script>
  document.getElementById('transactionForm').addEventListener('submit', function(event) {
    event.preventDefault();
    
    const formData = new FormData(this);
    fetch('/transactions', {
        method: 'POST',
        body: formData
    })
    .then(response => {
        if (response.ok) {
            alert('Transaction saved to Firebase!');
            // Optionally redirect or perform other actions
        } else {
            throw new Error('Failed to save transaction');
        }
    })
    .catch(error => {
        console.error(error);
        alert('Failed to save transaction');
    });
});

</script>

</body>
</html>
