@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-Regular.ttf format') format ('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/public/fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f8ff; /* Sky blue background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    width: 400px; 
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
    text-align: center;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.input-group input:focus {
    border-color: #007bff; /* Blue border color on focus */
}

.btn {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue button color */
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.error-message {
    display: none;
    color: red;
    margin-top: 1em;
    text-align: center;
}

.alert-message {
    display: none;
    background-color: #f44336; /* Red */
    color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
    animation: fadein 0.5s;
}

.alert-message .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.alert-message .closebtn:hover {
    color: #000;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
