body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #007bff;
  }
  
  .navbar-brand, .nav-link {
    color: #fff !important;
  }
  
  .container {
    margin-top: 20px;
  }
  
  .card {
    background-color: #e3f2fd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
  }
  
  .card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  
  .card-title {
    font-weight: 600;
  }
  
  #service-image-container {
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
  }
  
  #service-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  